
services:
  node-server:
    build: .
    container_name: express_app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"

  mysql_db:
    image: mysql:latest
    container_name: mysql_db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:

